<div class="row">
	<div class="col-sm-6 pull-right wow fadeInRightBig">
		<img class="img-responsive " src="img/votacao.png" alt=""
			style="padding-top: 40px;">
	</div>

	<div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
		<h3 class="section-heading">Votar</h3>
		<div class="sub-title lead3">Sua opinião é importante. Ajude
			outras pessoas e nos diga qual é o melhor restaurante.</div>
		<p class="lead">A votação é voluntária e nós apreciamos muito a
			sua participação. Caso não conheça o restaurante não tem problema.
			Após a votação você pode verficar qual posição o seu restaurante está
			no ranking geral. Clicando Aqui.</p>

		<p>
			<button class="btn btn-embossed btn-primary"
				ng-click="iniciarVotacao()">Iniciar Votação</button>
			<a class="btn btn-embossed btn-info" href="#!/ranking/custobeneficio"
				role="button">Ranking Geral</a>
		</p>
	</div>
</div>