<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<flash-messages></flash-messages>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3 text-center wrap_title">
			<h2>Por Que Fazer Esse Site?</h2>
			<p class="lead" style="margin-top: 0">Muitas vezes ficamos em
				dúvida sobre onde comer, aqui você pode decidir pra onde ir de
				acordo com o seu gosto e votar no melhor.</p>

		</div>

		<div class="row">

			<div class="col-sm-4 wow fadeInDown text-center">
				<img class="rotate" src="img/icon/watch.svg">
				<h3>Tempo</h3>
				<p class="lead">
					Porque seu tempo é valioso. <a href="#!/ranking/rapidez"
						style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>

				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center">
				<img class="rotate" src="img/icon/chair.svg">
				<h3>Atendimento</h3>
				<p class="lead">
					Porque você aprecia um bom tratamento e não quer ser mal servido. <a
						href="#!/ranking/atendimento"
						style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>
				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center">
				<img class="rotate" src="img/icon/retina.svg">
				<h3>Sabor</h3>
				<p class="lead">
					Seu paladar é quem manda, tem que ser gostoso. <a
						href="#!/ranking/sabor" style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>
				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

			<div class="col-sm-4  wow fadeInDown text-center">
				<img class="rotate" src="img/icon/map.svg">
				<h3>Localização</h3>
				<p class="lead">
					Você gosta de fácil acesso, tem que ter um em cada esquina. <a
						href="#!/ranking/localizacao"
						style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>
				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center">
				<img class="rotate" src="img/icon/bill.svg">
				<h3>Preço</h3>
				<p class="lead">
					Porque você zela pelo bem estar da sua carteira. <a
						href="#!/ranking/preco" style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>
				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center">
				<img class="rotate" src="img/icon/cup.svg">
				<h3>Custo-Benefício</h3>
				<p class="lead">
					Não é só o preço, o tempo ou o sabor, tudo importa. Você quer o
					melhor custo-benefício. <a href="#!/ranking/custobeneficio"
						style="color: #3498db; font-weight: bold;">Rangking</a>
				</p>
				<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
			</div>
			<!-- /.col-lg-4 -->

		</div>
		<!-- /.row -->
	</div>
</div>